<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jakub Cielepak Portfolio</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-size:80px">Jakub Cielepak</h1>
                <img src="{% static 'foto.jpg' %}" height="250px" , width="200px">
                <p class="lead text-muted">A Python programmer with the knowledge about data processing, data analyzing,
                    front-end Frameworks and a lot more, please explore my page
                    to learn more about my and if you find my profile interesting please do not hasitate to contact me.
                </p>
                <p>
                    <a href="{% url 'contact' %}" class="btn btn-success my-2">Contact me!</a>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{% static 'job.jpg' %}" height="250px">
                            <div class="card-body">
                                <p class="card-text">Check out my job expirence </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'jobs' %}" class="btn btn-$gray-100 my-2">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{% static 'edu.jpg' %}" height="250px">
                            <div class="card-body">
                                <p class="card-text">Check out my education and skills</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'skills' %}" class="btn btn-$gray-100 my-2">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{% static 'hobby.jpg' %}" height="250px">
                            <div class="card-body">
                                <p class="card-text">Check out my hobbies and other facts</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'hobbies' %}" class="btn btn-$gray-100 my-2">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                The three attached pictures in the bottom of the page are sourced from the website(
                https://www.pexels.com ) offering free photos, I am not an author nor the owner of them.
            </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>